<div class="review-container">
  <div class="review">
    <div class="review__star">
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
    </div>
    <p class="review__title">Rated 5 Stars in Reviews</p>
  </div>
  <div class="review indent-small">
    <div class="review__star">
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
    </div>
    <p class="review__title">Rated 5 Stars in Reviews</p>
  </div>
  <div class="review indent-medium">
    <div class="review__star">
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
      <img src="/images/icon-star.svg" alt="" />
    </div>
    <p class="review__title">Rated 5 Stars in Reviews</p>
  </div>
</div>